@model List<WebsiteForum.Models.Questions>

@{
    ViewBag.Title = "Edit my Question";
}

<link href="~/css/Forum/CurrentUserQuestionsList.css" rel="stylesheet" type="text/css" />
<body>
    <div>
        <h1>Your questions</h1>
    </div>
    <table class="table" style="background-color: #c8e9ee; margin-bottom:0px;">
        @foreach (var item in Model)
        {
            <tr style="border-bottom: 1pt solid #73c5cb">
                <td><a asp-action="Edit" asp-controller="Forum" asp-route-id="@item.Id" style="color:black">@item.QuestionText</a></td>
            </tr>

        }
    </table>
    <div class="BottomLine"></div>
</body>
