@model WebsiteForum.Models.Questions

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/Forum/Edit.css" rel="stylesheet" type="text/css"/>
<body>
    <div>
        <h1>Edit my Question</h1>
    </div>

    @using (Html.BeginForm("Edit", "Forum", FormMethod.Post))
    {
        <div>
            @Html.TextArea("TextQuestion", new { @class = "AnswerTextBox" })
        </div>
        <button class="PostAnswer" type="submit">Edit my Question</button>
    }
</body>
@*
        <script>
        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight))
            tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput() {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
        }
    </script>
*@

