@model IEnumerable<WebsiteForum.Models.Questions>
@{
    ViewBag.Title = "Forum";
}
<style>
    .QuestionButtom {
        float: right;
        margin-right: 10px;
        background-color: #73c5cb;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid black;
    }
    h1 {
        background-color: #73c5cb;
        padding-left: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    .BottomLine {
        background-color: #73c5cb;
        padding: 0px 10px 0px 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 30px;
        margin-bottom: 30px;
    }
</style>

<body>
    <div>
        <h1>Forum</h1>
    </div>
    <table class="table" style="background-color: #c8e9ee; margin-bottom:0px;">
        <tr>
            <td>
                <div class="QuestionButtom">
                    <a asp-controller="Forum" asp-action="CreateQuestion" style="color:black">Ask a Question</a>
                </div>
                <div class="QuestionButtom">
                    <a asp-controller="Forum" asp-action="CurrentUserQuestionsList" style="color:black">Edit my Questions</a>
                </div>
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="border-bottom: 1pt solid #73c5cb">
                <td><a asp-action="ShowQuestion" asp-controller="Forum" asp-route-id="@item.Id" style="color:black">@item.QuestionText</a></td>
            </tr>
        }


    </table>
    <div class="BottomLine"></div>
</body>
