@model IEnumerable<WebsiteForum.Models.Questions>
@{
    ViewBag.Title = "Forum";
}
<link href="~/css/Account/Index.css" rel="stylesheet" type="text/css" />
<body>
    <div>
        <h1>Forum</h1>
    </div>
    <table class="table" style="background-color: #c8e9ee; margin-bottom:0px;">
        <tr>
            <td>
                <div class="QuestionButtom">
                    <a asp-controller="Forum" asp-action="CreateQuestion" style="color:black">Ask a Question</a>
                </div>
                <div class="QuestionButtom">
                    <a asp-controller="Forum" asp-action="CurrentUserQuestionsList" style="color:black">Edit my Questions</a>
                </div>
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="border-bottom: 1pt solid #73c5cb">
                <td><a asp-action="ShowQuestion" asp-controller="Forum" asp-route-id="@item.Id" style="color:black">@item.QuestionText</a></td>
            </tr>
        }
    </table>
    <div class="BottomLine"></div>
</body>
