<body>
    <div class="main">
        <p>Thanks for the registration</p>
        <form asp-action="Index" asp-controller="Account">
            <button class="button">
                Main page
            </button>
        </form>
    </div>
</body>